.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.img { 
    width: 10%;
    height: auto;
    opacity: 0.3;
}

.active {
    background-color: #4CAF50;
}

.banniere {
  height:80px;
  width: 1700;
  opacity: 0.4;  
}