@model Sondage.Models.Contact
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home">Accueil</a></li>
        <li><a href="Creation">Créer un sondage</a></li>        
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="SondagesRecents">Sondage récents</a></li>        
        <li style="float:right"><a class="active" href="Contact">Contact</a></li>
    </ul>
     <div class="border" id="centrer">
        <form method="post" action="Contacter">
            Veuillez remplir les champs ci-dessous pour nous laisser un message :<br /><br />
            <label for="nom">Nom : </label><input type="text" name="nomBDD" /><br />
            <label for="prenom">Prénom : </label><input type="text" name="prenomBDD" /><br />
            <label for="email">Email : </label><input type="email" name="emailBDD" /><br /><br />
            <label for="message">Message : </label><textarea name="messageBDD"></textarea><br />
            <input type="submit" value="Envoyer" />
        </form>
    </div>

    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>
