@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a class="active" href="Home">Accueil</a></li>
        <li><a href="Creation">Créer un sondage</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="SondagesRecents">Sondage récents</a></li>
        <li style="float:right"><a href="Contact">Contact</a></li>
    </ul>
 
        <h1 align="center">Soyez le bienvenu sur Sond-AgeDePierre </h1><br />
    <center>
        <img src="~/Content/lascaux.png" alt="imgHome" /><br />
        <a href="Creation"><img src="~/Content/idee3.png" width="330" height="260" /><br />Pour la création d'un sondage, c'est par ici !</a>
    </center>
</body>
</html>
