
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a class="active" href="Home.html">Créer un sondage</a></li>
        <li><a href="/Sondage/SondagesRecents.html">Sondage récents</a></li>
        <li><a href="SondagesPopulaires.html">Sondage populaires</a></li>
        <li><a href="BoiteaIdees.html">Boîte à idées</a></li>
        <li style="float:right"><a href="Contact.html">Contact</a></li>
    </ul>


    <h1 align="center">Soyez le bienvenu sur Sond-AgeDePierre </h1>
    <br />
    <br />
    <br />
    <h2 align=center> Création du Sondage : </h2>
    <div id="centrer">

        <p align="center" class="border"> </p>
        <label1>Votre question</label1> : <input type="text" name="question" />
        <br />
        <form method="POST" action="">
            <div id="champs">
                Choix : <br>
                <input id="texte" type="text" name="titre[]" /><br>
            </div>
            <button type="button" onclick="addField()">+</button><br>
            <script type="text/javascript">
                                        var div = document.getElementById('champs');
                                        function addInput(nam){
                                            var input = document.createElement("input");
                                            input.name = name;
                                            div.appendChild(input);
                                        }
                                        function addField() {
                                        addInput("titre[]");
                                        div.appendChild(document.createElement("br"));
                                        }
            </script>
            <br>
        </form>
        <input type="checkbox" name="choix" value="TypeChoix"> Choix multiple
        <br />
        <input type="checkbox" name="choix" value="TypeChoix"> Sondage privé
        <br />
        <button><a href="SondageCree.html"> Valider </a> </button>
    </div>
    <img src="~/Content/agedepierre.png" id="imgenbas" />

</body>
</html>