
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a class="active" href="Home">Créer un sondage</a></li>        
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>        
        <li style="float:right"><a href="Contact">Contact</a></li>
    </ul>


    <h1 align="center">Soyez le bienvenu sur Sond-AgeDePierre </h1>
    <br />
    <br />
    <br />
    <h2 align=center> Création du Sondage : </h2>
    <div id="centrer">

        <div class="border">
            <div id="centrer">
                <br />
                <form method="POST" action="Valider">
                    <label1>Votre question</label1> : <input type="text" name="question" placeholder="Saisissez votre question" /> <br />
                    <br />
                    Choix : <br>
                    <input id="texte" type="text" name="choix1" placeholder="Choix 1" /> <br />
                    <input id="texte" type="text" name="choix2" placeholder="Choix 2" /> <br />
                    <input id="texte" type="text" name="choix3" placeholder="Choix 3" /> <br />
                    <input id="texte" type="text" name="choix4" placeholder="Choix 4" /> <br />
                    <input type="radio" name="TypeChoix" value="ChoixM"> Choix multiple
                    <input type="radio" name="TypeChoix" value="ChoixU"> Choix unique
                    <br />                                        
                    <button> Valider </button>
                </form>
            </div>
        </div>

    </div>
    <img src="~/Content/agedepierre.png" id="imgenbas" />

</body>
</html>