
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
    <meta http-equiv="Refresh" content="10;url=/Sondage/Home" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="/Sondage/Home">Accueil</a></li>
        <li><a href="/Sondage/Creation">Créer un sondage</a></li>        
        <li><a href="/Sondage/SondagesPopulaires">Sondage populaires</a></li> 
        <li><a href="/Sondage/SondagesRecents">Sondage récents</a></li>       
        <li style="float:right"><a href="/Sondage/Contact">Contact</a></li>
    </ul>

    <p id="centrer">
        La ressource que vous recherchez est introuvable.
        <br />
        Vous allez être redirigé vers la page d'accueil dans 10 secondes...
        <br />
        <img src="~/Content/giphy.gif" />
    </p>

    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>