
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home.html">Créer un sondage</a></li>
        <li><a href="SondagesRecents.html">Sondage récents</a></li>
        <li><a class="active" href="SondagesPopulaires.html">Sondage populaires</a></li>
        <li><a href="BoiteaIdees.html">Boîte à idées</a></li>
        <li style="float:right"><a href="Contact.html">Contact</a></li>
    </ul>

    <div>
        <h2 align="center">Sondages populaires</h2>
        <table>
            <tr>
                <th>Question</th>
                <th>Date</th>
                <th>Note</th>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test1</td>
                <td>Test2</td>
            </tr>
            <tr>
                <td>Test3</td>
                <td>Test4</td>
                <td>Test5</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
            <tr>
                <td>Test6</td>
                <td>Test7</td>
                <td>Test8</td>
            </tr>
        </table>
    </div>

    <img src="Img/agedepierre.png" id="imgenbas" />

</body>
</html>
