@model Sondage.Models.MSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="/Sondage/Home">Accueil</a></li>
        <li><a class="active" href="/Sondage/Creation">Créer un sondage</a></li>        
        <li><a href="/Sondage/SondagesPopulaires">Sondage populaires</a></li> 
        <li><a href="/Sondage/SondagesRecents">Sondage récents</a></li>       
        <li style="float:right"><a href="/Sondage/Contact">Contact</a></li>
    </ul>


    <div id="conteneur">
        <div id="texte">
            <p>
                Votre sondage a été créé avec succès 
            </p>

            <p>                
                Lien partagé :
                <a href="http://@Model.LienPartage">@Model.LienPartage</a>                        
            </p>
            <p>
                Résultats :
                <a href="http://@Model.LienResultat">@Model.LienResultat</a>
</p>

            <p>Lien sécurisé (pour la désactivation) : <a href="http://localhost:1093/Sondage/Suppression?id=@Model.CleSuppression">localhost:1093/Sondage/Suppression?id=@Model.CleSuppression</a>
            </p>
        </div>

    </div>

    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>