@model Sondage.Models.QuestionsEtNbVotes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />

</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Creation">Créer un sondage</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a class="active" href="SondagesRecents">Sondage récents</a></li>        
        <li style="float:right"><a href="Contact">Contact</a></li>

    </ul>

    <div>
        <h2 align="center">Sondages récents</h2>
        <table>
            <tr>
                <th>Question</th>
                <th>Nombre de votes</th>
                <th>Date de création</th>
            </tr>
            @{
                for (int i = 0; i < 10; i++)
                {                    
                    <tr>
                        <td>@Model.ListeQuestions[i]</td>
                        <td>@Model.ListeNbVotes[i]</td>
                        <td>@Model.ListeDate[i]</td>
                    </tr>
                }
            }
        </table>
    </div>

    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>
