@model Sondage.Models.QuestionEtChoix

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Sond-ageDePierre </title>
    <link rel="stylesheet" href="/Content/style.css" />
</head>

<body>
    <!--Corps de la page -->
    <ul>
        <li><a href="Home">Créer un sondage</a></li>
        <li><a href="SondagesPopulaires">Sondage populaires</a></li>
        <li><a href="SondagesRecents">Sondage récents</a></li>
        <li><a class="active" href="Vote">Sondage</a></li>
        <li style="float:right"><a href="Contact">Contact</a></li>

    </ul>

    <div id="conteneur">
        <div id="texte">           
            @{ 
                int i = 0;
                if(Model._TypeChoix)
                {
                    <form method="post" action="VoterM">
                    <input type="hidden" name="id" value=@Model._id />
                    <h2> @Model._Question </h2>
                    @{
                        foreach (var choix in Model._ListeChoix)
                        {
                            <input type="checkbox" name="valeurs" value=@Model._idChoix[i++] /> @choix
                            <br />
                            <br />
                        }
                        <br />
                        <button> Voter </button>
                    }
                    </form>
                        }
                else
                {
                            <form method="post" action="Voter">
                            <input type="hidden" name="id" value=@Model._id />
                            <h2> @Model._Question </h2>
                                @{
                        foreach (var choix in Model._ListeChoix)
                        {
                                        <input type="radio" name=vote value=@Model._idChoix[i] /> @choix
                                        i++;
                                        <br />
                                        <br />
                                    }
                                    <br />
                                    <button> Voter </button>
                                }
                            </form>
                        }
            }
        </div>
    </div>


    <img src="/Content/agedepierre.png" id="imgenbas" />

</body>
</html>